
    
        <div class="HomePageTitle">
            <h1>Medals per Country</h1>
        </div>
        <div class="HomePageInfos">
            <div class="MainSpecificInfos">
                <span>Number of JOs:<br/><strong>{{numberOfGames}}</strong> </span>
            </div>
            <div class="MainSpecificInfos">
            <span>Number of countries: <br /><strong>{{ (olympics$ | async)?.length }}</strong></span>
            </div>
        </div>
        <div class="ChartInfo">
            <canvas id="pie-chart"></canvas>
        </div>


    

