
  <div *ngIf="olympics$ | async as olympic">
      <div class="TopTitle">
        <h1 class="countryTitle">{{ olympic[countryId].country }}</h1>
      </div>
        <div class="mainInfos">
          <div class="specificInfos">
            <span>Numbers of entries:</span>
            <br/><strong>{{ olympic[countryId].participations.length }}</strong>
          </div>
          <div class="specificInfos">
            <span>Total number medals:</span>
            <br /><strong>{{ totalMedals }}</strong>
          </div>
          <div class="specificInfos">
            <span>Total number athletes:</span><br />
            <strong>{{ totalAthletes }}</strong>
          </div>
        </div>
        <div class="chartContainer">
          <canvas id="MyChart"></canvas>
        </div>
        <div class="backHome">
          <button (click)="goBackHome()">Home</button>
        </div>
  </div>

  
  

    
     
