

.countryTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #56abb3;
    border-radius: 8px;
    width: fit-content;
    height: 50px;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    


}
h1{
    color: white;
}

.mainInfos{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-bottom: 10px;

}
.specificInfos{
    width: fit-content;
    border: solid 3px #56abb3;
    padding: 10px;
    border-radius: 5px;
    border-color: #56abb3;
    text-align: center;
    margin: auto;
}
.chartContainer{
    margin: auto;
    width: 70vw;
    height: 70vh;
}

.backHome{
    display: flex;
    justify-content: center;
    margin: auto;

}
button{
    margin: auto;
    background-color: #56abb3;
    color: white;
    width: 100px;
    border: none;
    margin-top: 50px;

    }



span{
    color: #989898;
}
strong{
    color: black;
}




